body {
  font-family:sans-serif;
}

.calendarRight{
  width: 900px;
  height: 500px;
  border: 1px solid #668ba4;
  border-radius: 20px;
  background-color: white;
  color: black;
}

.year{
  color: #E8E8E8;
  font-size: 30px;
  float: right;
  position: relative;
  right: 75px;
  top: 20px;
  font-weight: bold;
}

.arrowLeft{
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid #E8E8E8;
  border-bottom: 5px solid transparent;
  float: right;
  position: relative;
  right: 90px;
  top: 36px;
}
.arrowRight{
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #E8E8E8;
  border-bottom: 5px solid transparent;
  float: right;
  position: relative;
  left: 20px;
  top: 36px;
}
.arrowLeft:hover{
  border-right: 10px solid#e8630a;
}
.arrowRight:hover{
  border-left: 10px solid#e8630a;
}

.monthColor{
  color: #e8630a;
}
.monthHover:hover{
  color:#e8630a;
}
.months{
  color: #AAAAAA;
  position: relative;
  left: 350px;
  top: 90px;
  word-spacing: 10px;
}
.line{
  border-color: #668ba4;
  position: relative;
  top: 85px;
  left: 180px;
  width: 57%;
  
}

.days{
  color: #AAAAAA;
  position: relative;
  font-size: 15px;
  left: 350px;
  top: 80px;
  word-spacing: 35px;
  font-weight: 700;
}

.numbersDate{
  float: right;
  position: relative;
  top: 110px;
  right: 50px;
}

.firstWeek{
  margin-bottom: 25px;
  word-spacing: 53px;
  cursor: pointer;
}

.secondWeek{
  margin-bottom: 25px;
  word-spacing: 53px;
  cursor: pointer;
}

.thirdWeek{
  margin-bottom: 25px;
  word-spacing: 53px;
  cursor: pointer;
}
.fourthWeek{
  margin-bottom: 25px;
  word-spacing: 53px;
  cursor: pointer;
}
.fifthWeek{
  margin-bottom: 25px;
  word-spacing: 53px;
  cursor: pointer;
}
.sixthWeek{
  margin-bottom: 25px;
  word-spacing: 53px;
  cursor: pointer;
}

.greyText{
    color: #AAAAB1;
}
.calendarLeft{
  width: 300px;
  height: 500px;
  border-radius: 20px 0px 0px 20px;
  background-color: #668ba4;
  position: relative;
  bottom:53px;
  margin-left:-2px;
}

.bigDate{
  font-size: 150px;
  font-weight: 400;
  margin-left: 50px;
  color: #e8630a;
}

.day{
  font-size: 40px;
  margin-left: 80px;
  color: #e8630a;
}